@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header a { color: #7c7c7c; }

header { margin-top: 21px;}

.menu { margin-top: 8px; }

.menu a { padding-bottom: 5px; }

.search-form { display: none; }

.search-box { margin-top: 11px; }

.open .bar-two { display: none; }

.open .bar-one { 
  -webkit-transform: rotate(45deg) translatex(7px);
   -ms-transform: rotate(45deg) translatex(7px);
    transform: rotate(45deg) translatex(7px); 
}

.open .bar-three { 
  -webkit-transform: rotate(-45deg) translatex(7px);
   -ms-transform: rotate(-45deg) translatex(7px);
    transform: rotate(-45deg) translatex(7px); 
}

header .wrapper {
  width: 96.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
}

.menu li {
  text-transform: uppercase;
  font-size: 11.5px; 
}

.menu li:not(:last-child):after {
  content: '/';
  padding: 0 15px;
  color: #7c7c7c;
  font-size: 20px;
}

.search-button {
  display: inline-block;
  text-indent: -9999px;
}
.search-button::before {
  content: "\f002"; 
  float: right;
  text-indent: 0;
  font-family: fontAwesome;
  font-size: 25px;
}

.active-menu { 
  border-bottom: 2px solid #6cb3de;
  color: #000; 
}

.hamburger {
  width: 35px;
  height: 100%;
  float: right;
  position: relative;
  display: none;
}

.hamburger span {
  width: 35px;
  height: 4px;
  margin: 5px 0;
  display: block;
  background: #000;
  text-indent: -99999px;
  -webkit-transition:  0.5s ease;
  -o-transition:  0.5s ease;
  transition:  0.5s ease;
}

/* nav:hover ul{
  width: 100%;
  display: block;
  float: none;
  position: absolute; 
  top: 90%;
  right: 0;
  left: 0;
  background-color: #269384;
  text-align: center;
} */

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner section styling starts here
=================================*/
.banner .wrapper { width: 84%; }

.banner {
  padding-top: 55px;
  padding-bottom: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;   
  position: relative;
}

h2 {
  font-weight: 1000;
  font-size: 44px;
  line-height: 52px;
}

.banner-title {
  width: 33%;
  padding: 114px 10.4% 116px 1.5%;
  background-color: #6cb3de;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.banner-description {
  width: 33%;
  padding: 117px 9.5% 117px 9.5%;
  position: absolute;
  top: 99px;
  right: 8%;
  background-color: #5fb0dd;
  color: #fff;
  text-align: center;
  font-size: small;
  line-height: 26px;
}

.banner-title::after{
  content: '';
  width: 19%;
  height: 56%;
  border: 10px solid #64635a;
  position: absolute;
  top: 17%;
  right: 58.5%;
  z-index: -1;
  -webkit-transform: rotateZ(58deg);
    -ms-transform: rotate(58deg);
      transform: rotateZ(58deg);  
}

.banner-description::before{
  content: '';
  width: 43%;
  height: 48%;
  border: 10px solid #64635a;
  position: absolute;
  right: 18%;
  bottom: 33%; 
  -webkit-transform: rotatez(60deg); 
    -ms-transform: rotate(60deg); 
      transform: rotatez(60deg);
  z-index: -1;
}
/*=================================
  banner section styling ends here
=================================*/
/*=================================
  event section styling starts here
=================================*/
.event .wrapper { width: 100%; }

.event-button { margin-bottom: 31px;}

.event-button li:last-of-type { background-color: #f8e402; }

.event-content > li:last-child {
  width: 51%; 
  background-color: #5eabd7; 
}

.event-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.event-description { 
  padding: 59px 8% 0;
  text-align: center;
}

h3 {
  margin-bottom: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.event p {
  margin-bottom: 54px;
  color: #fff;
  font-size: 13px;
  line-height: 26px;
}

.event-button a {
  padding: 18px 39px;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
}

.event-button li:first-of-type {
  margin-right: 0.3%;
  background-color: #fff; 
}

.event-venue a { 
  padding: 20px 20px; 
  border-right: 1px solid #ababab;
  color: #1c4965; 
  font-size: 20px;
}

.event-venue{ 
  border-top: 1px solid #ababab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-venue li:first-child { 
  width: 40%;
  border-right: 1px solid #ababab; 
}

.event-venue span {
  color:  #1c4965;
  font-size: small;
  text-transform: capitalize;
}

.location, .calender {
  display: inline-block;
  text-indent: -9999px; 
}

.location::before {
  content: "\f041";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.calender::before {
  content: "\f073";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}
/*=================================
  event section styling ends here
=================================*/
/*=================================
  articles section styling starts here
=================================*/
.articles {
  margin-top: 88px;
}

.section-title { 
  margin-bottom: 72px;
  text-align: center;
}

h4 {
  text-align: center;
  color: #a3a3a3;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 20px;
  letter-spacing: 10px;
}

/* .underline{
  width: 35px;
  height: 4px;
  margin: 5px 0;
  display: block;
  background: #000;
  text-indent: -99999px;
  text-align: center;
} */

.articles-content {
  /* display: flex;
  justify-content: space-between; */
}

.link span {
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  font-weight: bold;
}

.tabs-content .active-tab { background-color: #b7b67c;}

.link{
  border: 1px solid #b7b67c;
  margin-bottom: 24px;
  padding: 9px 8%;
  position: relative;
  display: block;
  width: 100%;
}

.link::before{
  content: "\f111";
  font-family: FontAwesome;
  color: #b7b67c;
}

.tabs-content  a h4{
  color: #3f3f3f;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 12px;
}

.tabs-content  a p{
  color: #3f3f3f;
  font-size: 14px;
}

/* .tabs-content::after{
  content: "";
  width: 1.5%;
  height: 10%;
  border-radius: 10px;
  background-color: #b7b67c;
  position: absolute;
  top: 18%;
  right: -1.2%;
  opacity: 0.5;
} */


.articles-description div:not(:first-child){
  display: none;
}
/*=================================
  articles section styling ends here
=================================*/
/*=================================
  infographic section styling startss here
=================================*/




/*=================================
  infographic section styling ends here
=================================*/
/*=================================
  newsletter section styling starts here
=================================*/ 
.newsletter .wrapper { width: 41.5%; }

.newsletter form div:first-child { width: 59%; }

.newsletter { 
  padding: 58px 0px; 
  background-color: #5fb0dd;
}

.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  justify-content: space-between;
}

.newsletter span {
  margin-bottom: 5px;
  display: block;
  color: #a1cde6;
  font-size: small;
  text-transform: capitalize; 
}

.newsletter input[type="email"] {
  width: 100%;
  padding: 21px 42% 21px 8%;
  border: none;
  background-color: #86cbf4;
  color: #1c4965;
}

.send {
  text-indent: -9999px;
  display: inline-block;
}

.send::before {
  content: "\f1d8";
  padding: 16px 21px;
  float: right;
  background-color: #fff;
  color: #7c7c7c;
  font-family: FontAwesome;
  font-size: 25px;
  text-indent: 0;
}
/*=================================
  newsletter section styling ends here
=================================*/ 
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer a { color: #7c7c7c; }

.social-links li:last-child { margin-right: 32px; }

footer .wrapper { 
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  justify-content: space-between;
}

footer { 
  padding: 31px 0px;
  background-color: #2f2f2f;   
}

h6 { 
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.contact-button{
  padding: 16px 43px;
  background-color: #7b7b7b;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.right-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
}

.social-links a{
  padding: 10px 14px;
  font-size: 23px;
}

.facebook,.twitter,
.linkedin,.google-plus{
  text-indent: -9999px;
  display: inline-block;
}

.facebook::before{
  content: "\f09a";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.twitter::before{
  content: "\f099";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.linkedin::before{
  content: "\f0e1";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.google-plus::before{
  content: "\f0d5";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

@media only screen and (min-width: 1024px) {
  h6 a:hover { color: #fff; }

  .facebook:hover { color: #3b579c;}

  .twitter:hover { color: #45aae1;}

  .google-plus:hover { color: #ce4439;}

  .linkedin:hover { color: #347bb6;}

  .menu a:hover { 
    border-bottom: 2px solid #6cb3de;
    color: #000; 
  }

  .event-button li:hover { 
    -webkit-box-shadow: inset 0 0 10px #000000; 
      box-shadow: inset 0 0 10px #000000;
  }

  .contact-button:hover { 
    -webkit-box-shadow: inset 0 0 10px #000000; 
      box-shadow: inset 0 0 10px #000000;
  }
}  
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  